/***
Default theme
***/
/***
Reset and overrides  
***/
body {
  background-color: #fff !important;
}
/***
Page header
***/
.header .navbar-inner {
  filter: none !important;
  background-image: none !important;
  background-color: #424242 !important;
}
.header .btn-navbar {
  background-color: #424242 !important;
}
.header .titlename{height:40px;line-height:40px;vertical-align:middle;color:#fff;font-size:1.2em;}
.header .nav .dropdown-toggle:hover,
.header .nav .dropdown.open .dropdown-toggle {
  background-color: #383838 !important;
}
.header .nav li.dropdown .dropdown-toggle i {
  color: #8a8a8a !important;
}
/***
Page sidebar
***/
.page-sidebar {
  background-color: #fff;
  border-radius:5px;
  border:1px solid #b4b4b4;
  margin-top:15px;
}
ul.page-sidebar-menu > li > a {
  color:#555555; !important;
  font-size:15px;
}
ul.page-sidebar-menu > li:last-child > a {
  border-bottom: 1px solid transparent !important;
}
ul.page-sidebar-menu > li a i {
  color: #969696;
}



ul.page-sidebar-menu > li > ul.sub-menu > li:first-child > a {
  border-top: 0px !important;
}
ul.page-sidebar-menu > li > ul.sub-menu > li.active > a,
ul.page-sidebar-menu > li > ul.sub-menu > li > a:hover {
  color: #008386 !important;
}


ul.page-sidebar-menu>li:last-child{border-radius:0px 0px 9px 9px;border-bottom:0px;}
/* 3rd level sub menu */

ul.page-sidebar-menu > li > ul.sub-menu li > ul.sub-menu > li.active > a,
ul.page-sidebar-menu > li > ul.sub-menu li > ul.sub-menu > li > a:hover,
ul.page-sidebar-menu > li > ul.sub-menu li.open > a {
  color: #ffffff !important;
  background: #575757 !important;
}
/* font color for all sub menu links*/
ul.page-sidebar-menu li > ul.sub-menu > li > a {
  color: #444444;
}
/* menu arrows */

ul.page-sidebar-menu > li > a .arrow:before,
ul.page-sidebar-menu > li > a .arrow.open:before {
  color: #7d7d7d !important;
}
ul.page-sidebar-menu > li > ul.sub-menu a .arrow:before,
ul.page-sidebar-menu > li > ul.sub-menu a .arrow.open:before {
  color: #707070 !important;
}
ul.page-sidebar-menu > li > a > .arrow.open:before {
  color: #8a8a8a !important;
}
ul.page-sidebar-menu > li.active > a .arrow:before,
ul.page-sidebar-menu > li.active > a .arrow.open:before {
  color: #ffffff !important;
}
/* sidebar search */

.page-sidebar .sidebar-search input {
  background-color: #242424 !important;
  color: #7d7d7d;
}
.page-sidebar .sidebar-search input::-webkit-input-placeholder {
  color: #7d7d7d !important;
}
.page-sidebar .sidebar-search input:-moz-placeholder {
  color: #7d7d7d !important;
}
.page-sidebar .sidebar-search input:-ms-input-placeholder {
  color: #7d7d7d !important;
}
.page-sidebar .sidebar-search input {
  background-color: #3d3d3d !important;
  color: #bfbfbf !important;
}
.page-sidebar .sidebar-search .input-box {
  border-bottom: 1px solid #7d7d7d !important;
}
.page-sidebar .sidebar-search .submit {
  background-image: url(../image/search-icon.png);
}

/***
Sidebar toggler
***/
.sidebar-toggler {
  background-image: url(../image/sidebar-toggler.jpg);
}
/* search box bg color on expanded */
.page-sidebar-closed .page-sidebar .sidebar-search.open {
  background-color: #fff !important;
}
.page-sidebar-closed .page-sidebar .sidebar-search.open .remove {
  background-image: url("../image/sidebar-search-close.png");
}
/* sub menu bg color on hover menu item */
.page-sidebar-closed ul.page-sidebar-menu > li:hover .sub-menu {
  background-color: #fff;
}
/***
Horizontal Menu(new in v1.2)
***/
/*search*/

.header .hor-menu .hor-menu-search-form-toggler.hide {
  background: #000000 url(../image/hor-menu-search-close.png) no-repeat center;
}




/* begin: boxed page */
@media (min-width: 980px) {
  .page-boxed {
    background-color: #2e2e2e !important;
  }
  .page-boxed .page-container {
    background-color: #3d3d3d;
    border-left: 1px solid #5e5e5e;
    border-bottom: 1px solid #5e5e5e;
  }
  .page-boxed.page-sidebar-fixed .page-container {
    border-left: 0;
    border-bottom: 0;
  }
  .page-boxed.page-sidebar-fixed .page-sidebar {
    border-left: 1px solid #5e5e5e;
  }
  .page-boxed.page-sidebar-fixed.page-footer-fixed .footer {
    background-color: #2e2e2e !important;
  }
}
/* end: boxed page */
/***
Landscape phone to portrait tablet
***/
@media (max-width: 979px) {
  /***
    page sidebar
    ***/
	.page-sidebar{
border:none;
}
  .page-sidebar {
    background-color: #292929 !important;
  }
  ul.page-sidebar-menu > li > a {
    border-top: 0px !important;
  }
  ul.page-sidebar-menu > li:last-child > a {
    border-bottom: 0 !important;
  }
 
}
